@import "tailwindcss";
@import "highlight.js/styles/github-dark.css";
@import "remark-github-blockquote-alert/alert.css";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Alter remark-github-blockquote-alert styles */
.markdown-alert {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  border-left-width: 4px;
  border-radius: 4px;
}

.markdown-alert > :first-child {
  margin-top: 0;
}

.markdown-alert > :last-child {
  margin-bottom: 0;
}

.markdown-alert p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.markdown-alert-title {
  margin-bottom: 0.125rem;
  font-weight: bold !important;
}

.markdown-alert-note {
  background-color: rgb(219, 234, 254);
  border-left-color: rgb(29, 78, 216);
}

.markdown-alert-tip {
  background-color: rgb(220, 252, 231);
  border-left-color: rgb(22, 101, 52);
}

.markdown-alert-important {
  background-color: rgb(237, 233, 254);
  border-left-color: rgb(109, 40, 217);
}

.markdown-alert-warning {
  background-color: rgb(254, 249, 195);
  border-left-color: rgb(133, 77, 14);
}

.markdown-alert-caution {
  background-color: rgb(254, 226, 226);
  border-left-color: rgb(220, 38, 38);
}

/* Alter task list item stylesa */
.task-list-item {
  margin-top: 1px;
  margin-bottom: 1px;
}
